# Dependencies
node_modules/
*/node_modules/

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Blockchain & Hardhat
blockchain/artifacts/
blockchain/cache/
typechain/
typechain-types/

# Frontend Builds
frontend/dist/
frontend/dist-ssr/
*.local

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!*.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.vercel


.vercel
.env*
